@font-face {
    font-family: 'Airbnb';
    src: URL('AirbnbCerealBlack.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    font-family: Airbnb;
    color: white;
 
}

.background{
    background-color: rgba(0,0,0,.4);
    position: fixed;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    transition: 2s;
    height: 10000px;
}
h1{
    font-size: 4em;
    margin-top: 210px;
}
.list{
    list-style: none;
    display: flex;
    margin: 20px;

}

.nav-list{
    margin-left: 10vh;
    transition: .2s;
    cursor: pointer;

}
.nav a{
    text-decoration: none;
}
.nav a:hover{
    text-decoration: underline;
    font-weight: 900;

}


.login{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px 30px;
    transition: .2s;  
    color: black;
    background: rgba(255, 255, 255, 0.423);
    border: none;
    border-radius: 2px;

}
.login:hover{
    color: white;
    background-color:rgba(134, 32, 32, 0.459);


}
ul a{
        text-decoration: none;
}
main{
    margin-left: 100px;
    margin-top:150px;
}
main p{
    font-size: 2em;
    margin: 10px 0px 20px 0px;
}
main a{
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 7px 30px;
    transition: 0.2s;
    color: black;
    background: rgba(255, 255, 255, 0.46);
}
main a:hover{

    padding: 10px 30px;
    color: white;
    background-color:rgba(134, 32, 32, 0.459);
    color: white;
}

footer p{
    text-align: center;
    
    margin-top: 80px;
    border-radius: 20px;
    /* background-color: rgb(255,255,255,0.1); */
    width: 70%;
    margin-left: auto ;
    margin-right: auto;
    padding: 20px 50px;
}
@media screen and (max-width:1080px)  {
    .nav-list{
        display: none;
    }
    
}
.list{
    list-style: none;
    display: flex;
    margin: 20px;

}

.nav-list{
    margin-left: 10vh;
    transition: .2s;
    cursor: pointer;

}
.nav a:hover{
    text-decoration: underline;
    font-weight: 900;

}


.login{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px 30px;
    transition: .2s;  
    color: black;
    background: rgba(255, 255, 255, 0.423);
    border: none;
    border-radius: 2px;

}
.login:hover{
    color: white;
    background-color:rgba(134, 32, 32, 0.459);


}
